{{.AdminName}} has invited you to become {{.RoleName}} in the {{.OrganizationName}} organization in Minder by Stacklok.

View Invitation: {{.InvitationURL}}

Once you accept, you’ll be able to {{.RoleVerb}} the {{.OrganizationName}} organization in Minder by Stacklok.  If you have the Minder CLI installed, you can accept the invite with:

minder auth invite accept {{ .InvitationCode }}

If you are a member of multiple organizations, you can use the --project {{ .OrganizationId }} flag to specify which organization you want the Minder CLI to operate on.

This invitation was sent to {{.RecipientEmail}}. If you were not expecting it, you can ignore this email.

Minder by Stacklok is an open source platform that helps development teams and open source communities build more secure software, and prove to others that what they’ve built is secure.

Terms and Conditions: {{.TermsURL}} Privacy: {{.PrivacyURL}}

Sign in to Minder: {{.SignInURL}}

Stacklok