# Copyright 2023 Stacklok, Inc
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mediator
  labels:
    # This includes a newline, so ko sees this as valid yaml
    # {{ include "common.labels.standard" (dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  annotations:
    alb.ingress.kubernetes.io/group.name: mediator-vip
    alb.ingress.kubernetes.io/group.order: '200'
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80},{"HTTPS":443}]'
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/target-type: ip
#    ALB doesn't use support cert-manager, but maybe someone else will benefit from it?
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  # Don't set ingressClassName for now, assume default
  tls:
  - hosts:
    - "{{ .Values.hostname }}"
    secretName: mediator-tls
  rules:
  - host: "{{ .Values.hostname }}"
    http:
      paths:
      # We use Prefix matches on gRPC service names because Ingress API
      # doesn't support matching on Content-Type: application/grpc
      - path: /grpc.reflection.v1alpha.ServerReflection
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.OAuthService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.AuthService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.VulnerabilitiesService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.SecretsService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.RepositoryService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.BranchProtectionService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.OrganizationService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.GroupService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.RoleService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.UserService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.ProfileService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /mediator.v1.KeyService
        pathType: Prefix
        backend:
          service:
            name: mediator-grpc
            port:
              name: grpc
      - path: /
        pathType: Prefix
        backend:
          service:
            name: mediator-http
            port:
              name: http
