/*
  SPDX-FileCopyrightText: Copyright 2023 The Minder Authors
  SPDX-License-Identifier: Apache-2.0
*/

:root {
    --pf-global--primary-color--100: #00BBBE;
    --pf-global--primary-color--200: #002A3E;
    --default-background-color: #EAF2FA;
}

.login-pf body {
    background: #EAF2FA;
}

#kc-header {
    color: #00BBBE;
}
