# SPDX-FileCopyrightText: Copyright 2024 The Minder Authors
# SPDX-License-Identifier: Apache-2.0

recurrence:
  interval: "1h"
  batch_size: 100
  min_elapsed: "1h"

database:
  dbhost: "postgres"
  dbport: 5432
  dbuser: postgres
  dbpass: postgres
  dbname: minder
  sslmode: disable

logging:
  level: "debug"

events:
  driver: "sql"
# only sql and cloudevents-nats drivers are supported
#  driver: "cloudevents-nats"
  sql:
    connection:
      dbhost: "watermill-postgres"
      dbport: 5432
      dbuser: postgres
      dbpass: postgres
      dbname: watermill
      sslmode: disable
#  nats:
#    url: "nats://nats:4222"
#    prefix: "minder"
#    queue: "minder"
