# SPDX-FileCopyrightText: Copyright 2024 The Minder Authors
# SPDX-License-Identifier: Apache-2.0

name: Boilerplate

on:
  pull_request:
    branches: [ 'main', 'release-*' ]

jobs:

  check:
    name: Boilerplate Check
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        extension:
        - go
        - sh
        - yaml
        - yml
        - html
        - css

        include:
        - extension: go
          language: Go
        - extension: sh
          language: Bash
        - extension: yaml
          language: YAML
        - extension: yml
          language: YAML
        - extension: html
          language: HTML
        - extension: css
          language: CSS
        - extension: sql
          language: SQL

    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: chainguard-dev/actions/boilerplate@3e8a2a226fad9e1ecbf2d359b8a7697554a4ac6d # v1.5.10
        with:
          extension: ${{ matrix.extension }}
          language: ${{ matrix.language }}
          boilerplate-directory: .boilerplate
          exclude: "/mock/|internal/db/|client.gen.go|.pb(.gw)?.go|docs/docs/|internal/auth/keycloak/client/"
