# SPDX-FileCopyrightText: Copyright 2023 The Minder Authors
# SPDX-License-Identifier: Apache-2.0

# Post-submit and daily build and publish of the Helm chart and Docker container
# This is a separate workflow than image-build.yml because image-build.yml is
# run in the PR context, and those runs aren't allowed package:write permissions if
# the source is a fork(GitHub errors and invalidates the entire workflow if you try).
name: Publish Helm Chart
on:
  push:
    branches:
      - main
  schedule:
    # Weekdays at noon GMT
    - cron: '00 12 * * 1-5'
jobs:
  check-helm:
    name: Build Helm chart
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write # To sign the provenance.
    env:
      BASE_REPO: "ghcr.io/mindersec/minder"
    steps:
      - name: Install Cosign
        uses: sigstore/cosign-installer@c56c2d3e59e4281cc41dea2217323ba5694b171e # v3.8.0
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: 'go.mod'
      - uses: ko-build/setup-ko@d982fec422852203cfb2053a8ec6ad302280d04d # v0.8
        with:
          version: v0.16.0
      - uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0
        with:
          version: v3.12.2
      - name: Compute version number
        id: version-string
        run: |
          DATE="$(date +%Y%m%d)"
          COMMIT="$(git rev-parse --short HEAD)"
          echo "tag=0.$DATE.$GITHUB_RUN_NUMBER+ref.$COMMIT" >> "$GITHUB_OUTPUT"
      - name: Build images and Helm Chart
        run: |
          KO_DOCKER_REPO=$BASE_REPO make helm
        env:
          KO_PUSH_IMAGE: "true"
          HELM_PACKAGE_VERSION: "${{ steps.version-string.outputs.tag }}"
      - name: Helm Login
        # ko can pick up tokens ambiently from the GitHub Actions environment, but
        # Helm needs explicit login
        run: |
          helm registry login $BASE_REPO --username ${{ github.repository_owner }} --password ${{ secrets.GITHUB_TOKEN }}
      - name: Push Helm Chart
        run: |
          cd deployment/helm
          helm push minder-*.tgz oci://$BASE_REPO/helm
      - name: Sign the published helm chart and ko image
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: |
          # Sign the ko image
          cosign sign --yes $BASE_REPO/server
          # Sign the helm chart
          cosign sign --yes $BASE_REPO/helm/minder:$(echo "${{ steps.version-string.outputs.tag }}" | sed 's/+/_/g')
