# SPDX-FileCopyrightText: Copyright 2023 The Minder Authors
# SPDX-License-Identifier: Apache-2.0

# This test verifies that the docker-compose.yml file is valid and that the
# containers can be started and stopped. It also verifies the database migrations.
name: Compose Migrate test
on:
  workflow_call:
jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - name: Install ko
        uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
        with:
          version: v0.16.0
      - name: Copy server-config.yaml
        run: cp config/server-config.yaml.example server-config.yaml
      - name: Start containers
        run: KO_DOCKER_REPO=ko.local make run-docker services="postgres migrate openfga"
      - name: Wait for the migrations to complete
        timeout-minutes: 1
        run: |
          set -e

          while [ "$(docker inspect -f '{{.State.Running}}' minder_migrate_up)" == "true" ]; do
              sleep 1
          done
          
          if [ "$(docker inspect -f '{{.State.ExitCode}}' minder_migrate_up)" != "0" ]; then
              echo "Migrations failed"
              docker logs minder_migrate_up
              exit 1
          fi
      - name: Check that the database has the expected version
        run: |
          set -e

          highest_prefix=$(ls database/migrations | grep -o '^[0-9]\+' | sort -n | tail -1 | sed 's/^0*//')
          docker logs minder_migrate_up | grep "Version=${highest_prefix} dirty=false"
