# SPDX-FileCopyrightText: Copyright 2023 The Minder Authors
# SPDX-License-Identifier: Apache-2.0

name: Lint
on:
  workflow_call:
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci-lint:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    permissions:
      # Required: allow read access to the content for analysis.
      contents: read
      # Optional: allow read access to pull request. Use with `only-new-issues` option.
      pull-requests: read
      # Optional: Allow write access to checks to allow the action to annotate code in the PR.
      checks: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: 'go.mod'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2

  check-go-mod-tidy-and-make-gen:
    name: Uncommitted changes check - go mod tidy & make gen
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: 'go.mod'
          cache: false
      - name: Run go mod tidy
        run: go mod tidy
      - name: Check for uncommitted changes - go mod tidy
        run: |
          if [ -n "$(git diff)" ]; then
            echo -e "\e[91m**********************************************************************************************\e[0m"
            echo -e "\e[91m* Uncommitted changes found. Please run 'go mod tidy' and commit changes.                   *\e[0m"
            echo -e "\e[91m**********************************************************************************************\e[0m"
            git diff
            exit 1
          else
            echo -e "\e[92m**********************************************************************************************\e[0m"
            echo -e "\e[92m* No uncommitted changes found.                                                              *\e[0m"
            echo -e "\e[92m**********************************************************************************************\e[0m"
          fi
      - name: Run make bootstrap to download the tool dependencies
        run: |
          make bootstrap
      - name: Run make gen
        run: make gen
      - name: Check for uncommitted changes - make gen
        run: |
          if [ -n "$(git diff)" ]; then
            echo -e "\e[91m**********************************************************************************************\e[0m"
            echo -e "\e[91m* Uncommitted changes found. Please run 'make gen' and commit the changes.                   *\e[0m"
            echo -e "\e[91m**********************************************************************************************\e[0m"
            git diff
            exit 1
          else
            echo -e "\e[92m**********************************************************************************************\e[0m"
            echo -e "\e[92m* No uncommitted changes found.                                                              *\e[0m"
            echo -e "\e[92m**********************************************************************************************\e[0m"
          fi
