name: Pull Request Validation
on:
  pull_request:
    types: [opened, edited, reopened]
jobs:
  check-pr-content:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'stacklokbot' }}
    steps:
      - name: Check PR for Change Type Selection
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7
        with:
          script: |
            const pr = context.payload.pull_request;

            if (!pr) {
              console.log('This action must be run on a pull request event.');
              core.setFailed('No pull request data found.');
              return;
            }

            const prNumber = pr.number;
            const body = pr.body;

            console.log(`Processing PR #${prNumber}`);

            const changeTypeRegex = /\- \[[xX]\] (Bug fix|Feature|Breaking change|Documentation)/;

            if (!changeTypeRegex.test(body)) {
              core.setFailed("You must select at least one Change Type.");
            }
