on:
    workflow_call:
jobs:
  pr-size-labeler:
    name: Label the PR size
    runs-on: ubuntu-latest
    steps:
        - uses: codelytv/pr-size-labeler@v1
          with:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            xs_label: 'size/xs'
            xs_max_size: '10'
            s_label: 'size/s'
            s_max_size: '100'
            m_label: 'size/m'
            m_max_size: '250'
            l_label: 'size/l'
            l_max_size: '500'
            xl_label: 'size/xl'
            fail_if_xl: 'false'
            message_if_xl: >
              This PR exceeds the recommended size of 500 lines.
              Please make sure you are NOT addressing multiple issues with one PR.
              If you can, please split this PR into serveral smaller ones.
              This will make the review process easier and faster.
            # github_api_url: 'api.github.com'
            files_to_ignore: |
                "pkg/generated/*"
                "docs/*"
                "database/mock/store.go"
                "go.mod"
                "go.sum"
