# SPDX-FileCopyrightText: Copyright 2023 The Minder Authors
# SPDX-License-Identifier: Apache-2.0

on:
  workflow_call:
  workflow_dispatch:


permissions:
  contents: read

jobs:
  test:
    name: Unit testing
    runs-on: ubuntu-latest
    steps:
      # Checkout your project with git
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # Install Go on the VM running the action.
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - name: Set up helm (test dependency)
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      # Install gotestfmt and go-junit-report on the VM running the action.
      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@8b4478c7019be847373babde9300210e7de34bfb # v2.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install gotestsum
        run: |
          ARCH=$(echo "${{ runner.arch }}" | tr '[:upper:]' '[:lower:]' | sed 's/x64/amd64/')
          OS=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]' | sed 's/macos/darwin/')
          gh release download -R gotestyourself/gotestsum -p "gotestsum_1.13.0_${OS}_${ARCH}.tar.gz" -O - | tar -xzf - gotestsum
        env:
          GITHUB_TOKEN: ${{ github.token }}
      # copy config file into place
      - name: Copy config file
        run: cp config/server-config.yaml.example ./server-config.yaml
      - name: Launch Registry
        run: |
          if [ "$(docker inspect -f '{{.State.Running}}' registry 2>/dev/null || true)" != 'true' ]; then
            docker run -d --restart=always -p "127.0.0.1:5000:5000" --network bridge --name registry \
            registry:2
          fi
      - name: Fetch go mod dependencies
        run: go mod download
      # Run the tests
      - name: Run tests
        env:
          MINDER_TEST_REGISTRY: "localhost:5000"
        run: make test-cover-silent
      - name: Generate JUnit report
        if: ${{ !cancelled() }}
        run: |
          gotestsum  --junitfile test-results.xml --junitfile-hide-empty-pkg --raw-command -- cat test-results.json
      - name: Upload test results
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test-results
          path: test-results.*
      - name: Convert go coverage to LCOV
        run: go run github.com/jandelgado/gcov2lcov@latest -infile=./coverage.out -outfile=./coverage.lcov
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
      - name: Add top-level report from JUnit XML
        if: ${{ !cancelled() }}
        run: |
          go run github.com/kitproj/junit2md@v1.0.0 < test-results.xml > "$GITHUB_STEP_SUMMARY"
  authz:
    name: Authz tests
    runs-on: ubuntu-latest
    steps:
      # Checkout your project with git
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # Install Go on the VM running the action.
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - name: Run `make bootstrap`
        run: |
          make bootstrap
      - name: Run authz tests
        run: |-
          make authz-tests
