name: Test documentation
on:
  workflow_call:
  pull_request:
jobs:
  test-deploy:
    name: Test doc deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 18
      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: ./docs
      - name: Test build website
        run: yarn build
        working-directory: ./docs
