# SPDX-FileCopyrightText: Copyright 2023 The Minder Authors
# SPDX-License-Identifier: Apache-2.0

on:
  workflow_call:
  workflow_dispatch:
jobs:
  test:
    name: Unit testing
    runs-on: ubuntu-latest
    steps:
      # Checkout your project with git
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      # Install Go on the VM running the action.
      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: 'go.mod'
      - name: Set up helm (test dependency)
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0
      # Install gotestfmt on the VM running the action.
      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@8b4478c7019be847373babde9300210e7de34bfb # v2.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      # copy config file into place
      - name: Copy config file
        run: cp config/server-config.yaml.example ./server-config.yaml
      - name: Launch Registry
        run: |
          if [ "$(docker inspect -f '{{.State.Running}}' registry 2>/dev/null || true)" != 'true' ]; then
            docker run -d --restart=always -p "127.0.0.1:5000:5000" --network bridge --name registry \
            registry:2
          fi
      - name: Fetch go mod dependencies
        run: go mod download
      # Run the tests
      - name: Run tests
        env:
          MINDER_TEST_REGISTRY: "localhost:5000"
        run: make test-cover-silent
      - name: Try converting to LCOV
        run: go run github.com/jandelgado/gcov2lcov@latest -infile=./coverage.out -outfile=./coverage.lcov
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
  authz:
    name: Authz tests
    runs-on: ubuntu-latest
    steps:
      # Checkout your project with git
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      # Install Go on the VM running the action.
      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: 'go.mod'
      - name: Run `make bootstrap`
        run: |
          make bootstrap
      - name: Run authz tests
        run: |-
          make authz-tests
