# SPDX-FileCopyrightText: Copyright 2023 The Minder Authors
# SPDX-License-Identifier: Apache-2.0

name: Test documentation
on:
  workflow_call:
  pull_request:
    paths:
      - "docs/**"
jobs:
  test-deploy:
    name: Test doc deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
      - name: Install dependencies
        run: npm ci
        working-directory: ./docs
      - name: Test build website
        run: npm run build
        working-directory: ./docs
