# SPDX-FileCopyrightText: Copyright 2023 The Minder Authors
# SPDX-License-Identifier: Apache-2.0

name: Test documentation
on:
  workflow_call:
  pull_request:
    paths:
      - "docs/**"
jobs:
  test-deploy:
    name: Test doc deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
      - name: Install dependencies
        run: npm ci
        working-directory: ./docs
      - name: Test build website
        run: npm run build
        working-directory: ./docs
