name: Build dbschema if needed
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "database/migrations/**"
jobs:
  update-docs-dbschema:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      # Checkout your project with git
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      # generate db schema
      - name: Generate db schema
        run: make dbschema
      - name: Extract Commit SHA and Details
        id: extract_commit_details
        run: |
          COMMIT_SHA="${{ github.sha }}"
          COMMIT_DATE=$(git show -s --format=%cd --date=format:'%Y-%m-%d %H:%M:%S' $commit_sha)
          COMMIT_AUTHOR=$(git show -s --format='%an' $commit_sha)
          echo "commit_sha=$COMMIT_SHA" >> $GITHUB_OUTPUT
          echo "commit_date=$COMMIT_DATE" >> $GITHUB_OUTPUT
          echo "commit_author=$COMMIT_AUTHOR" >> $GITHUB_OUTPUT
      - name: Commit and push changes
        uses: peter-evans/create-pull-request@6d6857d36972b65feb161a90e484f2984215f83e # v6.0.5
        with:
          commit-message: Update DB schema
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch-suffix: timestamp
          delete-branch: true
          title: "Auto-generated DB schema update - ${{ steps.extract_commit_details.outputs.commit_date }}"
          body: |
            ** Source commit **
             - Commit SHA: [${{ steps.extract_commit_details.outputs.commit_sha }}](${{ github.server_url }}/${{ github.repository }}/commit/${{ steps.extract_commit_details.outputs.commit_sha}})
            - Date: ${{ steps.extract_commit_details.outputs.commit_date }}
            - Author: ${{ steps.extract_commit_details.outputs.commit_author }}
          labels: |
            docs
            automated pr
          draft: false
